<app-navbar></app-navbar>
<app-menu-header></app-menu-header>


    <main class="col-12 d-flex justify-content-center">
        <div class="card col-2 shadow-sm border-1 m-3">
            <img class="card-img-top img-product w-75 mx-auto" src="../../../assets/img/botellaWhisky.png" alt="">
            <div class="card-body d-flex row justify-content-center align-content-center">
                <h4 class="card-title text-center">$120.000</h4>
                <button class="btn btn-primary w-50">Agregar <i class="bi-cart"></i></button>
            </div>
        </div>

        <div class="card col-2 shadow-sm border-1 m-3">
            <img class="card-img-top img-product w-75 mx-auto" src="../../../assets/img/botellaWhisky.png" alt="">
            <div class="card-body d-flex row justify-content-center align-content-center">
                <h4 class="card-title text-center">$120.000</h4>
                <button class="btn btn-primary w-50">Agregar <i class="bi-cart"></i></button>
            </div>
        </div>

        <div class="card col-2 shadow-sm border-1 m-3">
            <img class="card-img-top img-product w-75 mx-auto" src="../../../assets/img/botellaWhisky.png" alt="">
            <div class="card-body d-flex row justify-content-center align-content-center">
                <h4 class="card-title text-center">$120.000</h4>
                <button class="btn btn-primary w-50">Agregar <i class="bi-cart"></i></button>
            </div>
        </div>

        <div class="card col-2 shadow-sm border-1 m-3">
            <img class="card-img-top img-product w-75 mx-auto" src="../../../assets/img/botellaWhisky.png" alt="">
            <div class="card-body d-flex row justify-content-center align-content-center">
                <h4 class="card-title text-center">$120.000</h4>
                <button class="btn btn-primary w-50">Agregar <i class="bi-cart"></i></button>
            </div>
        </div>
    </main>

<app-footer></app-footer>