<div class="container app m-5 bg-secondary p-2 bg-opacity-10">

  <div class="row">
    <div class="col-sm-8">
      <h1 class="text-center p-2">
        {{title}}
      </h1>
    </div>
    <div class="col-sm-4 alert alert-primary alert-dismissible  fade show" *ngIf = "msg">
        <a href=" #"
         class="close"
         style="text-decoration: none;" 
         (click)="closeAlert()">
         {{msg}}
        </a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <img width = "300" src="./assets/SuperMarket3.png" alt="">
    </div>
    <div class="col-sm-8">
      <h2>Crear Datos:</h2>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="name" class="control-label-sm-2">
            Nombres
          </label>
          <div class="col-sm-10">
            <input type="text"
            class="form-control"
            id="name"
            name="name"
            [(ngModel)]= "model.name"
            placeholder="Ingrese el nombre(s)">
          </div>
        </div>
        <div class="form-group">
          <label for="surname" class="control-label-sm-2">
            Apellidos
          </label>
          <div class="col-sm-10">
            <input type="text"  
            class="form-control"
            id="surname"
            name="surname"
            [(ngModel)]= "model.surname"
            placeholder="Ingrese los apellidos">
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="control-label-sm-2">
            Email
          </label>
          <div class="col-sm-10">
            <input type="text"
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]= "model.email"
            placeholder="Ingrese un Email">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button type="submit"
            class="btn btn-success m-2"
            (click)="addEmployee()">
              Grabar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <h2>Datos: </h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees; let i = index">
            <td>{{employee.name}}</td>
            <td>{{employee.surname}}</td>
            <td>{{employee.email}}</td>
            <td>
              <a (click)="editEmployee(i)"
                class="btn btn-success m-2">
                Editar
              </a>
              <a (click)="deleteEmployee(i)"
                class="btn btn-danger m-2">
                Borrar
              </a>
            </td >           
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4" [hidden]="hideUpdate">
      <h2>Actualizar Datos:</h2>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="name" class="control-label-sm-2">
            Nombres
          </label>
          <div class="col-sm-10">
            <input type="text"
            class="form-control"
            id="name"
            name="name"
            [(ngModel)]= "model2.name"
            placeholder="Enter a new name">
          </div>
        </div>
        <div class="form-group">
          <label for="surname" class="control-label-sm-2">
            Apellidos
          </label>
          <div class="col-sm-10">
            <input type="text"  
            class="form-control"
            id="surname"
            name="surname"
            [(ngModel)]= "model2.surname"
            placeholder="Enter a new surname">
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="control-label-sm-2">
            Email
          </label>
          <div class="col-sm-10">
            <input type="text"
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]= "model2.email"
            placeholder="Enter a new email">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button type="submit"
            class="btn btn-success m-2"
            (click)="updateEmployee()"
            [hidden]="hideUpdate">
            Grabar
            </button>
          </div>
        </div>
      </form>
    </div>
 </div>
</div>
