.icon {
  font-size: 2rem;
}
.menu-header-item {
  font-size: 1.3rem;
}

.img-product {
  width: inherit;
}

details {
  background-color: #6c757d;
  color: white;
  border-radius: 10px;
}

details > ul {
  list-style: none;
}

summary {
  list-style: none;
}

.btn-primary {
  background-color: #ff6600;
  border: none;
}

.btn-primary:hover {
  background-color: #293357;
  border: none;
}

.btn-secondary {
  background-color: #293357;
}

.btn-secondary:hover {
  background-color: #ff6600;
  border: none;
}

.accordion-button {
  background-color: #6c757d;
  color: white;
  outline: none;
  box-shadow: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
