<nav class="navbar navbar-expand-lg navbar-light bg-secondary px-5">
    <ul class="navbar-nav w-100">
        <li class="nav-item dropdown mx-4 menu-header-item">
            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Categorías
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/lista">Vegetales</a></li>
                <li><a class="dropdown-item" href="/lista">Frutas</a></li>
                <li><a class="dropdown-item" href="/lista">Granos</a></li>
                <li><a class="dropdown-item" href="/lista">Carnes</a></li>
                <li><a class="dropdown-item" href="/lista">Pollo</a></li>
                <li><a class="dropdown-item" href="/lista">Pescados</a></li>
            </ul>
        </li>
        <li class="nav-item mx-4 menu-header-item">
            <a class="nav-link text-light" href="#">Ofertas</a>
        </li>
    </ul>
</nav>