<nav class="navbar navbar-expand-lg  w-auto navbar-light bg-secondary px-5">
    <div class="container-fluid px-5">
    <ul class="navbar-nav w-100">

        <!-- Dropdawn de productos -->
        <li class="nav-item dropdown mx-4 menu-header-item">
            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Categorías
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" *ngFor="let item of categorias"
                        (click)="onCategorySelected(item)">{{item}}</a>
                </li>
            </ul>
        </li>

        <!-- Enlace de ofertas -->
        <li class="nav-item mx-4 menu-header-item d-flex col-7 m-auto justify-content-center">
            <a class="nav-link text-light" href="#">Ofertas</a>
        </li>

        <!-- Dropdown de Administración -->

        <li class="nav-item dropdown mx-4 menu-header-item">
            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Administración
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/clientes">Clientes</a></li>
                <li><a class="dropdown-item" href="/productos">Productos</a></li>
                <li><a class="dropdown-item" href="/proveedores">Proveedores</a></li>               
            </ul>
        </li>
    </ul>
</div>
</nav>