<footer>
    <div class="container-fluid">
        <div class="row p-5 py-2 bg-secondary text-white">
            <div class="col-xs-12 col-md-6 col-lg-3">
                <h3 class="mb-3">Información general</h3>
                <div class="mb-2">
                    <a class="text-white text-decoration-none" href="#">Preguntas frecuentes</a>
                </div>
                <div class="mb-2">
                    <a class="text-white text-decoration-none" href="#">Derecho de retracto</a>
                </div>
                <div class="mb-2">
                    <a class="text-white text-decoration-none" href="#">Portal corporativo</a>
                </div>
                <div class="mb-2">
                    <a class="text-white text-decoration-none" href="#">Términos del servicio</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <h3 class="mb-3">Políticas</h3>
                <div class="mb-2">
                    <a class="text-white text-decoration-none" href="#">Política de descuentos</a>
                </div>
                <div class="mb-2">
                    <a class="text-white text-decoration-none" href="#">Política de cambios y/o devoluciones</a>
                </div>
                <div class="mb-2">
                    <a class="text-white text-decoration-none" href="#">Política de pago</a>
                </div>
                <div class="mb-2">
                    <a class="text-white text-decoration-none" href="#">Política de garantías</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <h3 class="mb-3">Contactenos</h3>
                <div class="mb-2">
                    <p>Tel: 2322020/3202114455 <br />Correo: pShop@poliShop.co</p>
                </div>
                <div class="mb-2">
                    <p>Carrera 99 # 55-44 Medellín. <br />Colombia</p>
                </div>
                <div class="mb-2">
                    <p>
                        HORARIO DE SERVICIO AL CLIENTE: <br />Lunes a viernes de 8am a
                        05:30pm y sábados de 8am a 2pm
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <h3 class="mb-3">Siguenos</h3>
                <a href="#" class="me-2 mt-3">
                    <i class="bi bi-facebook icon mx-auto text-white"></i>
                </a>
                <a href="#" class="me-2 mt-3">
                    <i class="bi bi-instagram icon mx-auto text-white"></i>
                </a>
                <a href="#" class="me-2 mt-3">
                    <i class="bi bi-twitter icon mx-auto text-white"></i>
                </a>
                <a href="#" class="me-2 mt-3">
                    <i class="bi bi-youtube icon mx-auto text-white"></i>
                </a>
            </div>

            <div class="col-xs-12 pt-3">
                <p class="text-white text-center">
                    Copyright <i class="bi bi-c-circle"></i> - Todos los derechos
                    reservados 2023
                </p>
            </div>
        </div>
    </div>
</footer>