<div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title mb-4">Iniciar sesión</h5>
            <form>
              <div class="mb-3">
                <label for="emailInput" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" id="emailInput" placeholder="tu-correo@ejemplo.com" required>
              </div>
              <div class="mb-3">
                <label for="passwordInput" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="passwordInput" placeholder="********" required>
              </div>
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-lg">Iniciar sesión</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  