<app-navbar></app-navbar>
<app-menu-header></app-menu-header>

<main class="m-5">
    <section class=" col-12 d-flex mb-5">
        <div class="col-6">
            <h2>Nombre del Producto</h2>
            <h5>Producto ID</h5>
            <img class="img-product d-flex m-auto" src="../../../assets/img/botellaWhisky.png" alt="Imagen Producto">
        </div>

        <!--? INFO PRODUCT  -->
        <div class="col-6  d-flex row justify-content-center align-content-start">


            <h2 class="font-weight-bold w-75">$100.000</h2>
            <span class="mb-2 w-75 fs-4">
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
            </span>


            <!--? BOTONES  -->
            <button class="btn btn-primary fs-4 w-75 mb-2">
                Agragar al Carrito
                <i class="bi-cart fs-4"></i>
            </button>
            <button class="btn btn-secondary fs-4 block w-75 mb-2">
                Compar
            </button>



            <!--? ESPECIFICACIONES -->
            <div class="w-75 p-0">
                <div class="accordion-item mb-1">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Especificaciones
                        </button>
                    </h2>
                    <ul id="collapseOne" class=" m-3 collapse show accordion-body" aria-labelledby="headingOne">
                        <li>
                            <h5>Cantidad</h5>
                            <span>10ml</span>
                        </li>
                        <li>
                            <h5>Marca</h5>
                            <span>Jack Daniels</span>
                        </li>
                        <li>
                            <h5>Referencia</h5>
                            <span>Premium Delicious</span>
                        </li>
                    </ul>
                </div>
                <!--? DETALLES  -->
                <div class="accordion-item">
                    <h2 class="fs-4 accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="true"
                            aria-controls="collapseTwo">Descripcion</button>
                    </h2>
                    <p id="collapseTwo" class="accordion-collapse collapse show accordion-body"
                        aria-labelledby="headingTwo">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
                        reiciendis vel consequatur blanditiis
                        quia cumque iusto, quas ea aperiam dicta, saepe dolorem fuga nihil deserunt atque rerum nostrum!
                        Autem, veritatis.
                    </p>
                </div>
            </div>
        </div>
    </section>


    <section class="col-12 d-flex justify-content-center">
        <div class="card col-2 shadow-sm border-1 m-3">
            <img class="card-img-top img-product w-75 mx-auto" src="../../../assets/img/botellaWhisky.png" alt="">
            <div class="card-body d-flex row justify-content-center align-content-center">
                <h4 class="card-title text-center">$120.000</h4>
                <button class="btn btn-primary w-50">Agregar <i class="bi-cart"></i></button>
            </div>
        </div>

        <div class="card col-2 shadow-sm border-1 m-3">
            <img class="card-img-top img-product w-75 mx-auto" src="../../../assets/img/botellaWhisky.png" alt="">
            <div class="card-body d-flex row justify-content-center align-content-center">
                <h4 class="card-title text-center">$120.000</h4>
                <button class="btn btn-primary w-50">Agregar <i class="bi-cart"></i></button>
            </div>
        </div>

        <div class="card col-2 shadow-sm border-1 m-3">
            <img class="card-img-top img-product w-75 mx-auto" src="../../../assets/img/botellaWhisky.png" alt="">
            <div class="card-body d-flex row justify-content-center align-content-center">
                <h4 class="card-title text-center">$120.000</h4>
                <button class="btn btn-primary w-50">Agregar <i class="bi-cart"></i></button>
            </div>
        </div>

        <div class="card col-2 shadow-sm border-1 m-3">
            <img class="card-img-top img-product w-75 mx-auto" src="../../../assets/img/botellaWhisky.png" alt="">
            <div class="card-body d-flex row justify-content-center align-content-center">
                <h4 class="card-title text-center">$120.000</h4>
                <button class="btn btn-primary w-50">Agregar <i class="bi-cart"></i></button>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>